body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
    background-color: rgb(247, 247, 247);
    
}

#dice { font-size: 100px; }
#diceImage { width: 100px; height: 100px; transition: transform 0.5s ease-in-out; }
.rolling { animation: roll 0.5s linear infinite; }

@keyframes roll {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}


#restartButton {
    display: block;
    margin: 20px auto;
}

#diceImage {
    margin-bottom: 20px;
}

#dice1 {
    margin-bottom: 20px;
}
.scoreboard {
    text-align: left;
    margin-top: 20px;
}

.scoreboard p {
    margin: 5px 0;
}

#klikButton {
    margin-right: 20px;
    font-weight: bold;
}

#holdButton {
    margin-right: 20px;
    font-weight: bold;
}

#game {
    align-items: center;
}



.text-frame {
    border: 2px double black; 
    padding: 15px;
    display: inline-block; 
    font-size: 20px; 
    font-weight: bold;
    background-image: url("tausta_kuva.jpg");
    background-size: cover; 
    background-position: center; 
    color: rgb(0, 0, 0); 
}